{% extends 'compare/base.html' %}

{% block content %}

<p>{{ object_list.count }}件</p>
{% include 'compare/pagenation-list.html' %}


<table border="1">
    <tr>
        <th>image</th>
        <th>name</th>
        <th>price</th>
    </tr>  
    {% for apparel in object_list %}
    {% if user.is_authenticated %}
        
        <tr>
            <td><a href="{% url 'search:compare' %}?name={{ apparel.name }}"><img src="{{ apparel.images.url }}" alt=""></a></td>
            <td><a href="{% url 'search:compare' %}?name={{ apparel.name }}">{{ apparel.name }}</a></td>
            <td>{{ apparel.price }}</td>
            <td>
                <form action="{% url 'search:follow' apparel.pk %}" method="get">
                    <button type="submit" name="button">お気に入り追加</button>
                    {% csrf_token %}
                </form>
            </td>

        </tr>
    {% else %}
        <tr>
            <td><a href="{% url 'search:compare' %}?name={{ apparel.name }}"><img src="{{ apparel.images.url }}" alt=""></a></td>
            <td><a href="{% url 'search:compare' %}?name={{ apparel.name }}">{{ apparel.name }}</a></td>
            <td>{{ apparel.price }}</td>
        </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}